<% if @foods.nil? %>
  <h1>昨日の登録</h1>
<% else %>

<% end %>

<%= form_with url: history_user_path(@user), method: :post do |f| %>

  <%= f.label :date, "日付" %>
  <%= f.date_field :date, class: "form-controll" %>

  <%= f.submit "表示", class: "btn btn-primary" %>
<% end %>

<%= @foods.first.food_name %>
