<h1>食材情報編集</h1>

<%= form_with(model: @food, method: :patch, local: true) do |f| %>

  <div class="row">

    <div class="col-sm-2">
      <%= f.label :food_name, "食材名" %>
      <%= f.text_field :food_name, class: "form-controll" %>
    </div>

    <div class="col-sm-2">
      <%= f.label :protein, "タンパク質" %>
      <%= f.text_field :protein, class: "form-controll" %>
    </div>

    <div class="col-sm-2">
      <%= f.label :fat, "脂質" %>
      <%= f.text_field :fat, class: "form-controll" %>
    </div>

    <div class="col-sm-2">
      <%= f.label :carbohydrate, "炭水化物" %>
      <%= f.text_field :carbohydrate, class: "form-controll" %>
    </div>

    <div class="col-sm-2">
      <%= f.label :date, "日付" %>
      <%= f.datetime_field :date, class: "form-controll" %>
    </div>

    <div class="col-sm-1">
      <%= f.label :amount, "量" %>
      <%= f.text_field :amount, class: "form-controll" %>
    </div>

    <div class="col-sm-1">
      <%= f.label :remarks, "備考" %>
      <%= f.text_field :remarks, class: "form-controll" %>
    </div>
  </div>

  <%= f.submit "更新", class: "btn food-btn" %>
<% end %>
