<h1>食材を検索して登録</h1>

<%= form_with(model: @food, url: search_foods_path, method: :post, local: true) do |f| %>

  <%= f.label :food_name, "食材名" %>
  <%= f.text_field :food_name, class: "form-controll" %>

  <%= f.submit "検索", class: "btn btn-primaary" %>
<% end %>

<h1>食材を入力して登録</h1>

<%= form_with(model: @food, url: foods_path, method: :post, local: true) do |form| %>

  <%= form.fields_for :foods do |f| %>
    <%= f.label :food_name, "食材名" %>
    <%= f.text_field :food_name, class: "form-controll" %>

    <%= f.label :protein, "タンパク質" %>
    <%= f.text_field :protein, class: "form-controll" %>

    <%= f.label :fat, "脂質" %>
    <%= f.text_field :fat, class: "form-controll" %>

    <%= f.label :carbohydrate, "炭水化物" %>
    <%= f.text_field :carbohydrate, class: "form-controll" %>

    <%= f.label :date, "日付" %>
    <%= f.datetime_field :date, class: "form-controll" %>

    <%= f.label :amount, "量" %>
    <%= f.text_field :amount, class: "form-controll" %>

  <% end %>

  <%= form.submit "登録", class: "btn btn-primary" %>

<% end %>
